<footer class="footer clearfix">
  <div class="container">
    <ul class="util-icons-list">
      <li class="util-icons-list-item">
        <a href="mailto:michal@vexlerarchitects.com?subject=שלום%20מיכל!%20ראיתי%20את%20האתר%20שלך" class="link-util-icons"><i class="icon i-ios-email"></i><span dir="ltr">michal@vexlerarchitects.com</span></a>
        <a href="tel:+9720522807624" title="Contact Vexler Architects" class="link-util-icons phone-ui"><i class="icon i-ios-telephone"></i><span dir="ltr">052·2807624</span></a>
        <a href="https://www.facebook.com/vexlerarchitects/" title="Vexler Architects Facebook Page" target="_blank" class="link-util-icons rrss-ui" onclick="ga('send', 'event', { eventCategory: 'FB-Page', eventAction: 'Click' })"><i class="icon i-social-facebook"></i></a>
      </li>
    </ul>
    <p dir="ltr" class="copyright">Copyright ©<span id="updatedYear"></span>Vexler Architects</p>
  </div>
</footer>