<article class="section-container">
  <h2 class="projects-list-title">
    <span data-stick-scroll class="projects-title">וילות משפחתיות</span>
  </h2>
  <ul class="projects-list">
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-beertuvya-2016.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-beertuvya-2016.jpg" alt="בית במושב באר טוביה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב באר טוביה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 210 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2016</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-beertuvya-2011.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-beertuvya-2011.jpg" alt="בית במושב באר טוביה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב באר טוביה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 210 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2011</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-beitezra-2012.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-beitezra-2012.jpg" alt="בית במושב בית עזרא" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב בית עזרא</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 170 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2012</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-beertuvya-2004.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-beertuvya-2004.jpg" alt="בית במושב באר טוביה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב באר טוביה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 220 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2004</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-orot-2005.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-orot-2005.jpg" alt="בית במושב אורות" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב אורות</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 210 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2005</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-hodaya-2009.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-hodaya-2009.jpg" alt="בית על נחלה במושב הודיה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית על נחלה במושב הודיה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 5 דונם</li>
            <li class="project-item-details-item">שטח בנוי: 180 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2009</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-orot-2003.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-orot-2003.jpg" alt="בית במושב אורות" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית במושב אורות</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 500 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 220 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2003</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-givataim-2008.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-givataim-2008.jpg" alt="בית בגבעתיים" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית בגבעתיים</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 250 מ"ר</li>
            <li class="project-item-details-item">שטח בנוי: 240 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2008</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/villas/villa-beertuvya-planning.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/villas/villa-beertuvya-planning.jpg" alt="בית על משק עזר במושב באר טוביה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">בית על משק עזר במושב באר טוביה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח מגרש: 1.250 דונם</li>
            <li class="project-item-details-item">שטח בנוי: 340 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: בתכנון</li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</article>
<article class="section-container">
  <h2 class="projects-list-title">
    <span data-stick-scroll class="projects-title">דירות מגורים</span>
  </h2>
  <ul class="projects-list">
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-givatshmuel-2012.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-givatshmuel-2012.jpg" alt="דופלקס בגבעת שמואל" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דופלקס בגבעת שמואל</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 120 מ"ר + מרפסת שמש</li>
            <li class="project-item-details-item">שנת סיום: 2012</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-kfarsava-2016.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-kfarsava-2016.jpg" alt="דירה בכפר-סבא" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה בכפר-סבא</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 120 מ"ר + מרפסת שמש</li>
            <li class="project-item-details-item">שנת סיום: 2016</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-ganeitikvah-2012.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-ganeitikvah-2012.jpg" alt="דירה בגני תקוה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה בגני תקוה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 120 מ"ר + מרפסת שמש</li>
            <li class="project-item-details-item">שנת סיום: 2012</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-telavive-2008.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-telavive-2008.jpg" alt="דירה בתל אביב בצפון הישן" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה בתל אביב בצפון הישן</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 70 מ"ר + מרפסת</li>
            <li class="project-item-details-item">שנת סיום: 2008</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-telavive-2007.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-telavive-2007.jpg" alt="דירה בתל אביב במתחם בלפור" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה בתל אביב במתחם בלפור</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 150 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2007</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-telavive-2005.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-telavive-2005.jpg" alt="דירה במרכז תל אביב" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה במרכז תל אביב</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 60 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2005</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/apartments/apartment-givataim-1998.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/apartments/apartment-givataim-1998.jpg" alt="דירה בגבעתיים" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">דירה בגבעתיים</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 84 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 1998</li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</article>
<article class="section-container">
  <h2 class="projects-list-title">
    <span data-stick-scroll class="projects-title">מרכזי שרות</span>
  </h2>
  <ul class="projects-list">
    <li class="projects-list-item">
      <a href="{{root}}projects/service-center/mcdonalds-restaurant.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/service-center/mcdonalds-restaurant.jpg" alt="מקדונלדס תל אביב" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">מקדונלד'ס תל אביב</h3>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/service-center/sheraton-hotel.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/service-center/sheraton-hotel.jpg" alt="מלון שרתון ירושלים" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">מלון שרתון ירושלים</h3>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/service-center/arazim-showroom.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/service-center/arazim-showroom.jpg" alt="חב' ארזים" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">ארזים פולג נתניה</h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 1,000 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2005</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/service-center/hot-service-center.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/service-center/hot-service-center.jpg" alt="מרכז שרות לקוחות משרדי הוט בקרית שמונה" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title"> מרכז שרות לקוחות משרדי<span dir="ltr">HOT&nbsp;</span><span> בקרית שמונה</span></h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 1300 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2015</li>
          </ul>
        </div>
      </a>
    </li>
    <li class="projects-list-item">
      <a href="{{root}}projects/service-center/derma-clinic-2016.html" class="link-projects-item">
        <div class="projects-list-image-wrapper">
          <img src="{{root}}assets/img/projects/thumbnails/service-center/derma-clinic-2016.jpg" alt="קליניקת מרפאת עור ואסתטיקה בבני ברק" />
        </div>
        <div class="projects-list-details">
          <h3 class="project-item-title">קליניקת מרפאת עור ואסתטיקה בבני ברק - בניין <span dir="ltr">V TOWER</span></h3>
          <ul class="project-item-details-list">
            <li class="project-item-details-item">שטח בנוי: 150 מ"ר</li>
            <li class="project-item-details-item">שנת סיום: 2016</li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
</article>