@font-face {
  font-family: 'MeodedPashut';
  src: url('../fonts/MeodedPashut/meodedpashut.eot');
  src: local('#'), url('../fonts/MeodedPashut/meodedpashut.woff') format('woff'),
        url('../fonts/MeodedPashut/meodedpashut.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*font-family: 'MeodedPashut', Arial, sans-serif;*/